<% provide(:title, 'About') %>
<div class="center">
  <h1>About</h1>
  <p>Captain's Log is an application that provides a central place to log changes that happen to your Infrastructure.
  </p>
</div>
